#root {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f00ff;
  width: 100%;
  color: white;
  width: 100%;
  padding: 1rem;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;

}

.logo h2{
  font-size: 20px;
}

.navbar input{
  width: 500px;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #9f33ff;
  color: #fff;
}

input::placeholder{
  color: #444;
}